html {
  font-family: sans-serif;
}

.title:hover {
cursor: pointer;
}

/* This is the day button */
.day-container {
  border: 1px solid;
  border-radius: 5px;
  padding: 5px 15px;
  background: #e8f3ff;
  font-family: sans-serif;
  margin-bottom: 8px;
}

.day-container:hover {
  cursor: pointer;
  background: #afb5bd;
}

.day-container:active {
  background: #afb5bd;
}

.artist-name {
  font-size: 14px;
}

.half-width {
  width: 49%;
  display: inline-block;
}

.left-half {
  /* position: fixed; */
  align-items: center;
  justify-content: center;

}

.half-width img{
  width: 70%;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.centered {
  text-align: center;
}

.title {
    border: 12px solid #00894C;
    border-radius: 5px;
    width: 500px;
    padding: 20px;
    display:inline-block;
}
.right-half {
  text-align: center;
  font-size: 30px;
}

.right-half h4 {
  border: 3px solid;
  border-radius: 40px;
  padding: 20px 8px;
  background: #ededed;

}
